.main
  .main__group-info
    .main__group-info__left-box
      .main__group-info__left-box__current-group
        techexpert68
      %ul.main__group-info__left-box__member-list
        Member :
        %li.main__group-info__left-box__member-list__member
          name
    =link_to "Edit", "#", class: "main__group-info__edit-group-btn"

  .main__message-list
    .message
      = render @messages

  .main__message-form
    = form_for [@group, @message], html:{class: "new-message"} do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: "input-box__image" do
          %i.far.fa-image.fa-2x
            = f.file_field :image, class: "input-box__image__file"
      = f.submit "Send", class: "submit-btn"